@import "tailwindcss";

@config "../../tailwind.config.ts";

@theme {
  --font-display: var(--font-display);
  --font-body: var(--font-body);
}

/* Force dark mode background by default for this design */
body {
  background-color: var(--color-background-dark);
  color: white;
}
